.cardBack {
    border-color: coral;
    border-width: thick;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35,208,3,0.5802696078431373) 100%);
    max-width: 80px;
    height: 130px;
}