/* Root = top most element */
:root {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: white;
    background-color: #484848;
  }
  * {
    box-sizing: border-box;
    margin: 100;
  }


.card-row {
    display: inline-flex;
    justify-content: space-evenly;
}

.main-container {
    margin:75px;
    padding: 50px;
    align-items: center;
    border: solid white;
}

.card {
    background: rgb(2,0,36);
    background: linear-gradient(rgba(2,0,36,1) 0%, rgba(35,208,3,0.5802696078431373) 100%);
    border: solid rgb(255, 255, 255);
    border-width: 4px;
    color:white;
    padding: 30px;
    margin: 10px;
    text-align: center;
}

.gameButtons {
    display:flex;
    flex-direction: column;
    border: solid white;
}



