/* Root = top most element */
:root {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #484848;
  }
  * {
    box-sizing: border-box;
    margin: 20;
  }

.card-row {
    display: flexbox;
    display: inline-flex;

}


.card {
    background: rgb(2,0,36);
    background: linear-gradient(rgba(2,0,36,1) 0%, rgba(35,208,3,0.5802696078431373) 100%);
    border: solid rgb(255, 255, 255);
    border-width: 4px;
    color:white;
    padding: 50px;
    margin: 10px;
    max-width: 180px;
    text-align: center;
}


h1 {
    color:white;
}

.font-awesome {
    color:white;
}
